@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .ImgSobre{
        background-image: url(../public/ImgBgAbout.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .ImgBarra{
        background-image: url(../public/ImgFundoBarra.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .ImgAllergies{
        background-image: url(../public/ImgPetAllergies.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}
